body {
    background-image: url("./../img/bg-main.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.navbar {
    min-width: 300px;
}

.navbar-image {
    margin-top: -10px;
}

.navbar-btn {
    margin-left: 15px;
    margin-right: 15px;
}

#logout-btn {
    width: 100%;
}

.dropdown-toggle {
    font-size: 18px;
}

.dropdown-menu {
    font-size: 16px;
}

#container-fluid-list {
    margin-top: 60px;
}

.center-content {
    margin: auto;
    width: 75%;
}

.list-container {
    width: 100%;
    height: 70px;
    display: inline-block;
    margin: 10px;
    padding: 10px;
    min-width: 575px;
    border-radius: 2px 2px 2px 2px;
    -moz-border-radius: 2px 2px 2px 2px;
    -webkit-border-radius: 2px 2px 2px 2px;
    border: 1px solid #dbdbdb;
    background: rgba(224, 224, 224, 1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(224, 224, 224, 1) 0%, rgba(180, 181, 182, 0.46) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(224, 224, 224, 1)), color-stop(100%, rgba(180, 181, 182, 0.46)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(224, 224, 224, 1) 0%, rgba(180, 181, 182, 0.46) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(224, 224, 224, 1) 0%, rgba(180, 181, 182, 0.46) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(224, 224, 224, 1) 0%, rgba(180, 181, 182, 0.46) 100%);
    background: radial-gradient(ellipse at center, rgba(224, 224, 224, 1) 0%, rgba(180, 181, 182, 0.46) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#e0e0e0', endColorstr='#b4b5b6', GradientType=1);
    -webkit-transition: background-color 1s;
    /* For Safari 3.1 to 6.0 */
    transition: background-color 1s;
}

.list-container:hover {
    background-color: #b3b3b3;
}

.list-img {
    margin-top: -20px;
    margin-left: 25px;
}

.list-title {
    margin-left: 30px;
    font-size: 38px;
    display: inline-block;
}

.list-infos {
    float: right;
    width: 25%;
    min-width: 235px;
}

.list-category {
    width: 70%;
    font-size: 20px;
    display: inline-block;
    padding-left: 5px;
    margin-top: 13px;
    vertical-align: text-bottom;
}

.openModalButton {
    font-size: 40px;
    display: inline-block;
    vertical-align: top;
    margin-top: 5px;
    color: #333;
}

.openModalButton:hover {
    text-decoration: none;
    color: #43B02A;
}

#listCatIcon {
    font-size: 25px;
    float: left;
    margin-top: 13px;
    color: #333;
}

#listCatIcon:hover {
    text-decoration: none;
    color: #333;
}