body {
    background-image: url("./../img/bg-main.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.navbar {
    min-width: 300px;
}

.navbar-image {
    margin-top: -10px;
}

.navbar-btn {
    margin-left: 15px;
    margin-right: 15px;
}

#logout-btn {
    width: 100%;
}

.dropdown-toggle {
    font-size: 18px;
}

.dropdown-menu {
    font-size: 16px;
}